<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.DB_ProyectoComprasConnectionString"
            connectionString="Data Source=WIN-1A306FL320H;Initial Catalog=DB_ProyectoCompras;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.AdmnistracionConnectionString"
            connectionString="Data Source=WIN-1A306FL320H;Initial Catalog=Admnistracion;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>